<%# list all short URL and it's full URL -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>
  <% include ./partials/_header %>
  <main>
    <table width="400">
      <%# list all URLs -%>
      <% for (let element of urls){ -%>
        <tr>
          <td><%= element.shortURL %></td>
          <td>-></td>
          <td><a href="<%= element.longURL %>"><%= element.longURL %></a></td>
          <td><a href="/urls/<%= element.shortURL %>">Edit</a></td>
          <td>
            <%# Add delete buttons to each URL object in the index page -%>
            <form action="/urls/<%= element.shortURL %>/delete" method="POST">
              <input type="submit" value="DELETE">
            </form>
          </td>
        </tr>
      <% } %>
    </table>

    <a href="">short</a>
  </main>


</body>
</html>