<%# list all short URL and it's full URL -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>
  <% include ./partials/_header %>
  <main>
    <table width="400">
      <%# list all URLs -%>
      <% for (var shortForm in urls){ -%>
        <tr>
            <td><%= shortForm %></td>
            <td>-></td>
            <td><a href="<%= urls[shortForm] %>"><%= urls[shortForm] %></a></td>
            <td><a href="/urls/<%= shortForm %>">Edit</a></td>
            <td>
              <%# Add delete buttons to each URL object in the index page -%>
              <form action="/urls/<%= shortForm %>/delete" method="POST">
                <input type="submit" value="DELETE">
              </form>
            </td>
        </tr>
      <% } %>
    </table>

    <a href="">short</a>
  </main>


</body>
</html>