<%# list full url by short form link %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
  <script src="/script/copylink.js"></script>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <main>
    <%# Display shortURL %>
    <% if (urls) {%>
      <h1>ShortURL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></h1>
      <input type="text" value="http://localhost:8080/u/<%= shortURL %>" id="myInput" style="width: 250px">
      <button onclick="myFunction()">Share</button>

      <%# Add an Update button that will update longURL %>
      <form action="/urls/<%= shortURL %>" method="POST">
        <input
          type="text"
          name="longURL"
          value="<%= urls.longURL %>"
          style="width: 200px">
        <input type="submit" value="Update">
      </form>
    <% } else{ %>
      <h1>Given ShortURL: <%= shortURL %> NOT Exist</h1>
    <%}%>
  </main>
</body>
</html>